<a href="https://colab.research.google.com/github/diogorjs/we_love_data/blob/master/Parsing_XML_into_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importando os pacotes necessários
import pandas as pd 
import xml.etree.ElementTree as etree
import io
import requests

In [45]:
# Raliza o parse do arquivo
tree = etree.parse("xml_parse_test.xml")
tree

In [40]:
# Obtem o node root do XML
root = tree.getroot()
root

In [0]:
# Cria o dataframe com as colunas que você quer ver
columns = ["NAME", "AGE", "SALARY"]
df = pd.DataFrame(columns = columns)

In [0]:
# Carrega o dataframe com os dados do arquivo XML
for node in root.findall('FIELD/TARGETFIELD'): 
    name = node.attrib.get("NAME")
    age = node.get("AGE")
    salary = node.get("SALARY")
    df = df.append(pd.Series([name, age, salary], index = columns), ignore_index = True)

In [43]:
df

       NAME AGE SALARY
0     DIOGO  36  15000
1    DAIANE  35  25000
2   ISABELA   9     50
3  GABRIELA   5     25